<!doctype html>
<html>
<body bgcolor="green">
<head>
    <title>Ice_bag的智能鱼缸</title>
</head>
<body>
<h1>Ice_bag 物联 INC</h1>
<p>  本公司致力于物联网的开发和推广，拥有数量庞大的工程师和科研开发人员，净资产高达0.001万元。主要产品为物联网接入智能设备，入选2019年世界500强企业（倒数）。与西安电子科技大学有着广泛的业务交流，有着广阔的发展空间！</p>
<p>（我实在编不下去了）</p>
<h1> 产品介绍：
<h2>智能鱼缸</h2>
	<p>她是一种很强大的鱼缸，内置了水温，光强等传感器，实时采集鱼缸内的数据。并通过有方n10模块上传云服务器，用户可访问本网站远程查看家中的鱼缸环境，并配有远程操控功能，真的很实用。</p>
<h1>农民前端orz，凑合着看看吧</h1>

<p>hello world</p>

<p>hello icebag</p>
</body>
</html>
